@import url("https://fonts.googleapis.com/css2?family=Archivo:wght@200&family=Libre+Baskerville&family=Mochiy+Pop+P+One&display=swap");

.courseImage {
  width: 250px;
  height: 180px;
  border-top-left-radius:10px;
  border-top-right-radius:10px;

}

.courseBox {
  width: 250px;
  border-radius: 10px;
}

.courseBox h3{
    font-family: "Mochiy Pop P One", sans-serif;
}

.courseBox p{
    font-size: .8rem;
    padding: 3%;
    text-align: left;
    border-bottom: 1px grey solid;
}

.headDraw{
  font-family: "Mochiy Pop P One", sans-serif;

}